* {
	margin:0px;
	padding:0px;
	border: 0px;
	list-style-type: none;
	text-decoration-line: none;
}
a{
	color:#9a9791; 
}
a:hover{
	color: #ff4d04;
}
body{
	background-color: #f8f7f6;
}
.nei{
	width: 1180px;
	height: 778px;
	margin: auto;
}
.mei{
	display: inline-block;
	height: 38px;
	line-height: 38px;
}
.mei>li{
	float: left;
}
.mei>li>a{
	color: black;
	font-size: 12px;
}
.product{
	width: 994px;
	height: 631px;
	display: inline-block;
	background-color: white;
}
.head{
	width: 1180px;
	margin: auto;
	height: 129px;
}
.head a{
	margin-right: 12px;
}
#cover{
	background-color: white;
	height: 129px;
	width: 100%;
	z-index: 999;
}
#all{
	height: 40px;
	background-color: black;
}
.head>p{
	display: inline-block;
	margin-top: 7px;
	color:#9a9791;
	font-size: 12px;
	margin-bottom: 16px;
}
#qq{
	margin-left: 380px;
	margin-top: 7px;
}
.head>div>p>a{
	font-size: 12px;
}
.head>div>span{
	color: #fe6c00;
	font-size: 12px;
	font-weight: bolder;
}
.head>div>p{
	display: inline-block;
	height: 20px;
	line-height: 20px;
}
#dl{
	float: right;
	padding-top: 7px;
	margin-bottom: 34px;
}
#dl>p>a{
	margin-right: 12px;
}
.head>img{
	float: left;
}
form{
	display: inline-block;
}
.head>form{
	float: left;
}
.sousuo{
	width: 497px;
	height: 34px;
	border:3px solid #fe6c00;
	margin-left: 106px;
	margin-bottom: 6px;
	float: left;
	border-radius: 3px;
}
#ss{
	width: 83px;
	height: 40px;
	border-radius: 3px;
	background-color: #fe6c00;
	margin-left: -2px;
	font-size: 16px;
	color: white;
	margin-right: 90px;
	float: left;
}
#kefu{
	width: 86px;
	height: 39px;
	float: left;
	border:1px solid #e6e5e2;
	background-color: white;
	color: #9a9791;
	border-radius: 3px;
}
#youjian{
	width: 86px;
	height: 39px;
	float: left;
	border:1px solid #e6e5e2;
	background-color: white;
	color: #9a9791;
	border-radius: 3px;
}
#wenti{
	width: 86px;
	height: 39px;
	float: left;
	background-color: #ff4d04;
	color: white;
	border:1px solid #e6e5e2;
	border-radius: 5px;
}
#gj{
	margin-left: 248px;
}
#gj>li{
	float: left;
	font-size: 12px;
	height: 16px;
	color:#9a9791;
	padding: 3px 8px;
	border-right: 1px solid #ebe7e7;
}
#gj>li:last-child{
	border:none;
}
#shang{
	width: 1180px;
	margin: auto;
	height: 41px;
}
#shang>ul{
	float: left;
	font-size: 15px;
	height: 40px;
}
#shang>ul>li{
	float: left;
}
#shang>ul>li>a{
	display: inline-block;
}
#shang>ul>li:first-child>a{
	background-color: #fe0d4a;
	padding: 10px 40px;
	margin-top: -1px;
	color: white;
}
#shang>ul>li>a{
	padding: 10px 32px;
	margin-top: -1px;
	color: white;
}
#shang>ul>li>a:hover{
	background-color: #fe0d4a;
}
#shang>img{
	float: right;
	height: 40px;
	margin-top: -1px;
}
.clear{
	clear: both;
}
.box{
	width: 798px;
	height: 361px;
	position: relative;
	overflow: hidden;
	display: inline-block;
	float: right;
}
.slider{
	width: 6400px;
	position: absolute;
	left: -800px;
}
.slide{
	width: 800px;
	overflow: hidden;
	float: left;
}
.box>span{
	display: block;
	text-align: center;
	cursor: pointer;
	color: #fff;
	top: 153px;
	line-height: 50px;
	font-size: 30px;
	position: absolute;
	opacity: 0;
}
.rsb{
	width: 502px;
	height: 496px;
	display: inline-block;
	float: right;
	margin-top: 20px;
	margin-right: 42px;
}
.rsb>p{
	display: inline-block;
}
.xianl{
	font-size: 13px;
	color: #676660;
	line-height: 24px;
	margin-top: 5px;
	margin-bottom: 30px;
}
.price>span{
	font-size: 14px;
	color: #ff0000;
	margin-left: 62px;
}
.price>span:first-child{
	font-size: 12px;
	color: black;
	margin-left: 19px;
}
.price>span:last-child{
	font-size: 12px;
	color: black;
	text-decoration-line: line-through;
	margin-left: 22px;
}
.hhl{
	margin-left: 26px;
	margin-right: 27px;
	font-size: 12px;
	float: left;
	display: inline-block;
}
.rl{
	left: 278px;
	bottom: 20px;
	position: absolute;
}
.rl>li{
	float: left;
	width: 20px;
	height: 20px;
	background-color: white;
	text-align: center;
	cursor: pointer;
	margin: 0 10px;
	border-radius: 50%;
}
.rl .active{
	background: #fe6c00;
	color: #476954;
}
.shuju1{
	display: inline-block;
	width: 56px;
	height: 28px;
	font-size: 12px;
	text-align: center;
	line-height: 28px;
	cursor: pointer;
	border:1px solid #fff;
}
#shuj{
	border:1px solid #ff0853;
	background: url(./img/duigou.png) no-repeat;
	background-position:bottom right;
}
.shuju2{
	margin-left: 26px;
	margin-right: 65px;
	margin-top: 16px;
	height: 36px;
	line-height: 36px;
	font-size: 12px;
	float: left;
	display: inline-block;
}
.inga{
	display: inline-block;
	margin-top: 20px;
	float: left;
}
.inga>button{
	width: 24px;
	height: 29px;
	float: left;
	cursor: pointer;
	border:1px solid #cecbc5;
	line-height: 27px;
	background-color: white;
}
.jian{
	margin-left: 20px;
	font-size: 12px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	margin-top: 16px;
}
.inga>input{
	display: inline-block;
	width: 50px;
	height: 27px;
	float: left;
	text-align: center;
	line-height: 27px;
	border:1px solid #aca7a2;
}
.pls{
	margin-left: 110px;
	margin-bottom: 22px;
}
.pls>span{
	color: #ff9003;
}
.left{
	margin:20px;
	width: 410px;
	height: 496px;
	display: inline-block;
	position: absolute;
}
.pp3{
	border: 1px solid #d0cdc7;
	display: inline-block;
	width: 408px;
	height: 408px;
	margin-bottom: 22px;
	position:absolute;
}
#slider{
	width:167px;
	height:167px;
	position:absolute;
	left:0;
	top:0;
	background:#000;
	opacity:0.4;
	cursor: move;
	display:none;
	filter:alpha(opacity=40);
}
#eg{
	position:absolute;
	left:0px;
	top:0px;
	width: 1000px;
	height: 1000px;
}
.sma{
	width: 410px;
	height: 60px;
	display: inline-block;
	position: absolute;
	top:428px;
}
.sma>img{
	float: left;
	display: inline-block;
	cursor: pointer;
	margin-bottom: -2px;
}
.sma>img:first-child{
	margin-top: 0px;
}
.sma>img:last-child{
	margin-top: 0px;
	float: right;
}
#sen{
	position:absolute;
	right:-408px;
	top:0px;
	display:none;
	width:408px;
	height:408px;
	overflow:hidden;
	border: 1px solid #d0cdc7;
}
.butta{
	width: 150px;
	height: 40px;
	color: #ff0754;
	cursor: pointer;
	margin-left: 24px;
	border-radius: 4px;
	border:1px solid #ff0754;
	background-color: white;
}
.butta:last-child{
	background-color: #ff0754;
	color: white;
}
.xiao{
	position: absolute;
	left: 80px;
	overflow: hidden;
}
.xiao img{
	float: left;
}
.xiao img:first-child{
	margin-left:-3px;
}
.wd{
	width: 120px;
	height: 140px;
	position: absolute;
	left: 80px;
	top:108px;
	background-color: #fd9a6e;
}
.wd p,button{
	font-size: 12px;
	display: inline-block;
}
.wd p{
	margin-top: 50px;
	margin-bottom: 10px;
}
.wd button{
	width: 44px;
	color: white;
	border:1px solid white;
	background-color: #fd9a6e;
}
.wd img{
	float: left;
}
.app{
	width: 120px;
	height: 160px;
	position: absolute;
	left: 80px;
	top:251px;
	background-color: #fd9a6e;
}
.app img:last-child{
	margin-top: 40px;
	margin-left: 12px;
}
.luok{
	width: 120px;
	height: 140px;
	position: absolute;
	left: 80px;
	top:413px;
}
#chong{
	width: 194px;
	height: 174px;
	margin-top: -62px;
	border-left: 1px solid #fe6c00;
	padding-top: 10px;
	padding-left: 16px;
	float: right;
	font-size: 12px;
}
#chong>p>a>img{
	float: left;
}
#chong>p>span{
	color: #fe6c00;
}
#chong>p{
	margin-bottom: 10px;
}
#chong>input{
	border: 1px solid #aca7a2;
	height: 20px;
	width: 123px;
	margin-bottom: 6px;
}
#chong>select{
	border: 1px solid #aca7a2;
	height: 18px;
	width: 61px;
	margin-bottom: 6px;
}
#chong>span{
	color: #fe6c00;
}
#chong>button{
	width: 177px;
	height: 25px;
	border-radius: 5px;
	background-color: #ff4d04;
	color:white;
}
.bottom{
	height: 346px;
}
.bottom3{
	width: 1180px;
	margin: auto;
	border-bottom:1px solid #ebeae8;
}
.bottom3 ul{
	display: inline-block;
}
.bottom3>ul>li{
	float: left;
	font-size: 16px;
	padding-left: 68px;
}
.bottom3>ul{
	float: right;
	padding-top: 31px;
}
.bottom3>ul>li>ul{
	height: 100px;
}
.bottom3>ul>li>ul>li{
	padding-top: 5px;
}
.bottom3>ul>li>ul>li>a{
	font-size: 12px;
	color: #666560;
}
.erweima{
	float: right;
	margin-top: 25px;
	margin-left: 66px;
	margin-right: 50px;
}
.guanyu{
	width: 1180px;
	height: 162px;
	margin: auto;
	text-align: center;
}
.guanyu>ul{
	height: 16px;
	width: 700px;
	margin: auto;
	margin-top: 15px;
}
.guanyu>ul>li{
	float: left;
	border-right: 1px solid #d0cdc7;
	height: 16px;
	line-height: 12px;
	padding-left: 15px;
	padding-right: 15px;
}
.guanyu>ul>li:last-child{
	border-right: none;
}
.guanyu>ul>li>a{
	color: #666560;
	font-size: 12px;
}
.guanyu>p{
	color: #9a9791;
	font-size: 12px;
	text-align: center;
	line-height: 24px;
}